/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 600;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none; 
}

h3 {
  font-size: 0.9rem;
}


/* UTILITIES */
.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}


/* SCROLLBAR CUSTOMIZATION */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}


/* MAIN */
.general-container {
  height: calc(100vh - 90px);
  background-color: #141922;
  overflow-y: auto;
}

/* SIDE-BAR */
.side-bar {
  position: sticky;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-width: 260px;
  background-color: black;
  padding-top: 20px;
}

.side-bar a,
.side-bar span {
  font-size: 0.8rem;
  color: gray;
}

.side-bar a {
  display: flex;
  align-items: center;
  padding: 5px 20px;
}

.side-bar span:not(.add) {
  margin-left: 5px;
}

.side-bar a:hover,
.side-bar a:hover span,
.side-bar ul li a.active,
.side-bar ul li a.active span,
.side-bar .playlist-top .add-playlist:hover span {
  color: white;
}

.side-bar .install:hover a img,
.side-bar .side-nav ul li a:hover img,
.side-bar .side-nav ul li a.active img {
  filter: invert(0);
}

.side-bar ul li a.active {
  border-left: 3px solid #adff2f;
  padding-left: 17px;
}

.side-bar .logo.desktop {
  width: 140px;
  margin: 0 20px;
}

.side-bar .logo.mobile {
  width: 32px;
  margin: 0 12px;
  display: none;
}

.side-bar .side-nav {
  margin: 16px 0 26px;
}

.side-bar .side-nav ul li img {
  width: 28px;
}

.side-bar .side-nav ul li a img,
.side-bar .install a img {
  filter: invert(0.5);
}

.side-bar .playlist-top h3 {
  padding: 0 20px;
}

.side-bar .playlist-top .add-playlist {
  align-items: center;
  padding: 0 20px;
  margin: 15px 0;
}

.side-bar .playlist-top .add-playlist .add {
  font-size: 2.2rem;
  line-height: 20px;
  color: black;
  background-color: gray;
  padding: 8px; 
}

.side-bar .playlist-top .add-playlist span:not(.add) {
  margin-left: 10px;
}

.side-bar .playlist-top .add-playlist:hover {
  cursor: pointer;
}

.side-bar .playlist-top .add-playlist:hover span.add {
  color: black;
  background-color: white;
}

.side-bar .playlist-bottom {
  overflow-y: auto;
}

.side-bar .playlist-bottom ul li a {
  padding: 8px 20px;
}

.side-bar .side-bar-bottom {
  padding: 16px 0;
}

.side-bar .install a {
  padding-bottom: 10px;
}

.side-bar .install img {
  width: 25px;
}

.side-bar .profile {
  align-items: center;
  border-top: 1px solid gray;
  padding-top: 15px;
  margin: 0 20px;
}

.side-bar .profile h3 {
  margin-left: 10px;
}

.side-bar .profile img {
  width: 28px;
  height: 28px;
  background-color: gray;
  border-radius: 50%;
}

/* MAIN-CONTAINER */
.main-container {
  width: 100%;
}

.main-container span,
.main-container a {
  font-size: 0.8rem;
}

/* top-bar */
.main-container .top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 260px;
  z-index: 99;
  align-items: center;
  justify-content: flex-end;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5); 
}

.main-container .top-bar .cta-btn {
  padding: 12px 42px;
  border: 1px solid white;
  border-radius: 26px;
  margin-right: 26px;
}

.main-container .top-bar .cta-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* main-content */
.main-container .main-content {
  padding-top: 110px;
}

.main-content span,
.main-content a {
  color: gray;
}

.main-container .main-nav {
  margin: 0 auto;
}

.main-container .main-nav ul {
  justify-content: center;
}

.main-container .main-nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 18px 24px;
}

.main-container .main-nav ul li a:hover,
.main-container .main-nav ul li.active a {
  color: white;
}

.main-container .main-nav ul li.active .selected {
  margin-top: 5px;
  width: 32px;
  border-bottom: 2px solid #adff2f;
}

/* sections */
.main-container section .section-header {
  padding: 10px 20px 30px;
}

.main-container section .col {
  width: calc(100% / 6);
  padding: 8px;
  /* debug */
  height: 200px;
  background-color: aquamarine;
  border: 1px solid black;
}


/* BOTTOM BAR */

.bottom-bar {
  position: sticky;
  z-index: 999;
  bottom: 0;
  height: 90px;
  background-color: #282828;
}

/* RESPONSIVE */
@media all and (max-width: 1200px) {
  .main-container section .col {
    width: 25%;
  }
}

@media all and (max-width: 768px) {
  .main-container section .col {
    width: 50%;
  }
}

@media all and (max-width: 650px) {
  .side-bar {
    min-width: 56px;
  }
  .side-bar .logo.mobile {
    display: block;
  }

  .side-bar .logo.desktop {
    display: none;
  }
  
  .side-bar span,
  .side-bar .profile h3 {
    display: none;
  }

  .side-bar a {
    padding: 5px 14px;
  }
  
  .side-bar .side-nav ul li a.active {
    border-left: 0;
    padding-left: 14px;
  }

  .playlist {
    display: none;
  }

  .side-bar .profile {
    border-top: 0;
    margin: 0 14px;
  }

  .main-container .top-bar {
    left: 56px; 
  }
}
